@charset "UTF-8";
@font-face {
  font-family: PTSansB;
  src: url(../fonts/pt-sans-bold.ttf); }

@font-face {
  font-family: PTSans;
  src: url(../fonts/pt-sans.ttf); }

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/FontAwesome.otf); }

#sp-top-bar {
  background-color: #5e5e5e;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  #sp-top-bar .sp-module-content li {
    float: left; }
    #sp-top-bar .sp-module-content li a {
      color: white;
      font-size: 13px;
      font-weight: 400;
      text-decoration: underline;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 10px;
      padding-left: 10px; }
      #sp-top-bar .sp-module-content li a:hover {
        background-color: inherit; }

#sp-top-header {
  padding-top: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 103px; }
  #sp-top-header .logo {
    height: auto; }

#sp-user1 {
  width: 181px;
  margin-top: 10px; }
  #sp-user1 .header_contact {
    line-height: 1;
    color: #717171;
    font-size: 13px;
    font-weight: 400; }
    #sp-user1 .header_contact span {
      height: auto;
      color: #353535;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 7px;
      display: block;
      line-height: 1; }

#offlajn-ajax-search160 {
  width: 400px !important; }

#offlajn-ajax-search160 .offlajn-ajax-search-container {
  background-color: transparent !important; }

#ajax-search-button160 {
  background: transparent !important;
  border: none;
  top: 10px;
  right: 10px; }

.offlajn-ajax-search-container input[type=text] {
  width: 100%;
  height: 45px !important;
  opacity: 0.5 !important;
  background-color: #f7f7f7 !important;
  border: 1px solid #c2c2c2 !important;
  -webkit-border-radius: 5px !important;
          border-radius: 5px !important;
  padding-left: 18px !important;
  font-size: 14px !important;
  font-weight: normal !important; }

#sp-search {
  width: 413px; }

#sp-top3 {
  width: 283px; }

.sp-module.top-hover {
  padding-top: 0 !important; }

.sp-module.top-hover .mini-cart a, .sp-module.top-hover .title a {
  min-width: 100px;
  height: 45px;
  border: 1px solid #717171;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  padding: 13px;
  text-align: center; }

.vina-menu-login .title i {
  margin-right: 0; }

.sp-module.top-hover:last-child {
  padding-right: 10px; }

#sp-header-sticky-wrapper .sp-megamenu-parent > li > a {
  color: #353535 !important;
  font-family: PTSans;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase; }

.sp-megamenu-parent > li.active > a, .sp-megamenu-parent > li:hover > a {
  background-color: inherit;
  /*""*/ }

.sp-megamenu-parent > li.sp-has-child > a::after {
  content: "";
  color: #353535;
  font-family: FontAwesome;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase; }

#slider169 .slide-desc {
  left: 375px;
  bottom: 95px;
  width: 520px; }

.slide-desc-bg {
  background-color: transparent !important; }

.slide-desc-text .slider-text {
  font-family: PTSans;
  font-size: 28px; }
  .slide-desc-text .slider-text .iacf_title {
    text-transform: uppercase;
    color: #f06423;
    font-weight: 700; }
  .slide-desc-text .slider-text .iacf_title2 {
    color: #353535;
    font-weight: 400;
    text-transform: uppercase; }

.djslider .readon {
  width: 125px;
  height: 40px;
  background-color: #f06423;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f55004), to(#f06423));
  background-image: -webkit-linear-gradient(bottom, #f55004 0%, #f06423 100%);
  background-image: linear-gradient(to top, #f55004 0%, #f06423 100%);
  border: 1px solid #f55004;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display: block;
  text-align: center;
  color: white;
  font-family: PTSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.3;
  margin-top: 30px; }
  .djslider .readon:after {
    content: "";
    color: white;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    margin-top: 2px;
    margin-left: 8px; }

.slide-desc-text .slide-title {
  display: none; }

#navigation169 {
  display: none !important; }

#djslider-loader169 {
  padding-top: 0 !important; }

.vina-vmproduct .price-box {
  left: 0;
  height: 45px !important;
  width: 100%;
  opacity: 1;
  background-color: transparent;
  top: auto;
  bottom: 50px; }

.vina-vmproduct .button-container {
  opacity: 1;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border-top: none !important; }

.vina-vmproduct .price-box .vm-price-value .PricesalesPrice {
  color: #f06423 !important;
  font-size: 22px !important;
  font-weight: 700 !important; }

.vina-vmproduct .image-block:hover .images-container a::before {
  background-color: transparent !important; }

.link-review.addtocart-area.second {
  display: none; }

.owl-carousel .owl-item {
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 2px;
  margin-right: 2px; }

.owl-carousel .owl-item:hover {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.vina-carousel-virtuemart .image-block {
  padding-bottom: 130px; }
  .vina-carousel-virtuemart .image-block:hover span.addtocart-button.jutooltip input.addtocart-button {
    width: 125px !important;
    height: 40px !important;
    background-color: #f06423 !important;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f55004), to(#f06423)) !important;
    background-image: -webkit-linear-gradient(bottom, #f55004 0%, #f06423 100%) !important;
    background-image: linear-gradient(to top, #f55004 0%, #f06423 100%) !important;
    border: 1px solid #f55004 !important;
    -webkit-border-radius: 5px !important;
            border-radius: 5px !important;
    overflow: hidden !important;
    display: block !important;
    color: white !important;
    font-family: PTSans !important;
    font-size: 16px !important;
    font-weight: 400 !important; }
  .vina-carousel-virtuemart .image-block:hover span.addtocart-button.jutooltip input.addtocart-button:hover {
    -webkit-border-radius: 5px !important;
            border-radius: 5px !important;
    overflow: hidden !important;
    width: 125px !important;
    height: 40px !important; }

.vina-vmproduct .image-block:hover .button-container {
  bottom: 0px; }

.vina-vmproduct .button-container > div:hover, .vina-vmproduct .button-container > div:focus {
  background-color: transparent; }

.vina-vmproduct .button-container > div * {
  height: auto; }

.vina-vmproduct .product-title a {
  border-top: none; }

.vm-price-value {
  bottom: 0;
  width: 100%;
  text-align: center; }

.box-des {
  bottom: 110px;
  position: absolute;
  text-align: center;
  display: inline-block !important;
  width: 100%;
  margin: auto !important;
  float: none !important; }
  .box-des h3 {
    text-align: center; }
    .box-des h3 a {
      width: 100%;
      text-align: center; }

.jutooltip-box-tl.jutooltip-content {
  display: none; }

.vina-vmproduct .button-container div.first {
  float: none; }

#sp-position-4-wrapper .container {
  padding: 0; }
  #sp-position-4-wrapper .container .row {
    margin: 0; }

#sp-position-4-wrapper #sp-tab-listproduct1 {
  margin: 0;
  padding: 0; }

.vina-vmproduct .button-container > div i {
  left: auto;
  right: 30px;
  margin-top: -13px;
  font-size: 17px; }

.fa-shopping-cart::before {
  content: "";
  font-family: FontAwesome;
  font-size: 17px; }

.vina-carousel-virtuemart .image-block span.addtocart-button.jutooltip input.addtocart-button {
  padding-left: 0 !important; }

.vina-carousel-virtuemart .product-title {
  text-align: center !important; }

.vina-vmproduct .product-title a {
  text-align: center !important;
  margin: auto !important; }

.vina-carousel-virtuemart .owl-controls .owl-buttons div, .vina-carousel-content .owl-controls .owl-buttons div {
  width: 50px !important;
  height: 50px !important;
  background-color: rgba(53, 53, 53, 0.3) !important;
  color: #FFF !important;
  margin-top: -100px !important; }
  .vina-carousel-virtuemart .owl-controls .owl-buttons div:hover, .vina-carousel-content .owl-controls .owl-buttons div:hover {
    background-color: rgba(53, 53, 53, 0.3) !important; }

.vina-carousel-virtuemart .owl-controls .owl-buttons div::after, .vina-carousel-content .owl-controls .owl-buttons div::after {
  height: 50px;
  width: 50px;
  line-height: 1.5;
  font-size: 34px;
  color: #FFF !important; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  #slider169 .slide-desc {
    width: 100%;
    padding: 0 10px;
    bottom: 30%;
    left: 0;
    text-align: center; }
  .slide-text {
    text-align: center; }
  .djslider .readon {
    position: relative;
    margin: auto;
    margin-top: 20px; } }

@media only screen and (max-width: 1280px) {
  .owl-carousel .owl-item:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }
  span.addtocart-button.jutooltip input.addtocart-button {
    width: 125px !important;
    height: 40px !important;
    background-color: #f06423 !important;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f55004), to(#f06423)) !important;
    background-image: -webkit-linear-gradient(bottom, #f55004 0%, #f06423 100%) !important;
    background-image: linear-gradient(to top, #f55004 0%, #f06423 100%) !important;
    border: 1px solid #f55004 !important;
    -webkit-border-radius: 5px !important;
            border-radius: 5px !important;
    overflow: hidden !important;
    display: block !important;
    color: white !important;
    font-family: PTSans !important;
    font-size: 16px !important;
    font-weight: 400 !important; }
  .vina-vmproduct .button-container > div i {
    left: auto;
    right: 30px;
    margin-top: -13px;
    font-size: 17px; }
  .fa-shopping-cart::before {
    content: "";
    font-family: FontAwesome;
    font-size: 17px; } }

@media only screen and (max-width: 1200px) {
  .vina-vmproduct .button-container > div i {
    right: 15px; }
  #sp-top3-sticky-wrapper #sp-top3 {
    position: relative !important; }
  #sp-logo, #sp-user1, #sp-search, #sp-top3 {
    width: 100%;
    text-align: center;
    margin-bottom: 15px; }
  #sp-top-header .logo {
    margin: auto; }
  #sp-top-header {
    height: auto; }
  #offlajn-ajax-search160 {
    width: 100% !important; }
  .sp-module.top-hover {
    display: inline-block;
    float: none; }
  #sp-top3 .sp-column {
    text-align: center;
    margin: 0 !important;
    width: 100%; }
  .sp-module.top-hover:last-child {
    margin: 0 !important;
    vertical-align: top !important; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #djslider169, #djslider169 ul#slider169 li, #slider169 li img {
    height: 194px !important;
    width: auto !important;
    overflow: hidden;
    width: 100% !important; }
  .slide-desc-text .slider-text {
    font-size: 21px; }
  #slider169 .slide-desc {
    bottom: 10px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .vina-carousel-virtuemart .owl-controls .owl-buttons div.owl-prev, .vina-carousel-content .owl-controls .owl-buttons div.owl-prev {
    left: 18px !important; }
  .vina-carousel-virtuemart .owl-controls .owl-buttons div.owl-next, .vina-carousel-content .owl-controls .owl-buttons div.owl-next {
    right: 18px !important; }
  .vina-vmproduct .button-container > div input {
    text-indent: 0; }
  .vina-vmproduct .button-container > div i {
    display: none; }
  #sp-top3-sticky-wrapper #sp-top3 > .sp-column {
    width: 100%; }
  #sp-top3-sticky-wrapper.sticky-wrapper {
    height: auto !important; } }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 620px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #sp-top-bar .sp-module-content li a {
    font-size: 10px;
    padding: 4px 5px; } }

@media only screen and (max-width: 450px) {
  .vina-vmproduct .button-container > div {
    width: 125px; } }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

@media only screen and (min-width: 1280px) {
  #vina-carousel-virtuemart119 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 5px !important; }
  .owl-carousel .owl-item {
    width: 295px !important; } }
